html {
    scroll-behavior: smooth;
}
.navbar {
    background-color: black;
    border-bottom: 2px solid #ffc107;
}
.jumbotron {
    background-color: rgb(26,26,26);
    color: white;
}
.icons {
    font-size: 3rem;
}
.icons > a {
    color: red;
    margin: 1rem;
}
.icons > a:hover {
    text-decoration: none;
    color: #ffc107;
    transition: transform .9s;
    transform: rotate(-360deg);
}